# Maven target directory
target/

# IDE-specific files
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Compiled class files
**/*.class

# Build output files
build/

# Log files
*.log
logs/

# Temporary files
*.tmp
*.swp
*~

# Docker related files
Dockerfile
docker-compose.yml
.dockerignore

# Git releated files
.git
.git/
.gitignore